include README.md
include LICENSE
include setup.py
include gbd_server/templates/*.html
include gbd_server/static/resources/*.png
include gbd_server/static/css/*.css
include gbd_server/static/bootstrap/css/*.css

