include README.md
include LICENSE
include gbd_server/templates/*.html
include gbd_server/static/img/*.png
include gbd_server/static/img/*.jpg
include gbd_server/static/*.css
include gbd_server/static/*.js

