{% extends "demo_base.html" %}

{% block content %}
{% if True == is_result %}
    {% if True == contains_error %}
        <div class="alert-warning" style="margin: 10px; padding: 5px; border-radius: 5px">{{ error_message }}</div>
    {% else %}
        <hr>
    Query: {{ query }} <br>
    Tables: {% for table in checked_tables %} {{ table }}{% if loop.last != True %},{% endif %} {% endfor %}<br>
    Results:
    {% for entry in results %}
        <li>{{ entry }}</li>
    {% endfor %}
    {% endif %}
{% endif %}
{% endblock %}