<!DOCTYPE html>
<html lang="en">
<head>
    {% include "header.html" %}
</head>
<body>
{% include "navbar.html" %}
<hr>
<div class="row" style="margin: 0;">
    <div class="row" style="margin: 0">
        <div class="col" style="padding-left: 5px; padding-right: 5px">
            <div class="bg-dark text-white text-center"
                 style="border-radius: 5px; height: auto">
                <div style="padding-top: 10px;">
                    <h5>Query Patterns</h5>
                </div>
                <hr>
                <div style="margin: 5px">
                    {% for query_pattern in query_patterns %}
                        <form action="#" method="post">
                            <div>
                                <input type="hidden" name="query" value='{{ query_pattern }}'>
                                <button formaction="{{ url_for('quick_search_results', _external=True) }}"
                                        class="gbd-button gbd-small">{{ query_pattern }}
                                </button>
                            </div>

                        </form>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-8" style="padding: 0">
            <div class="bg-dark text-white" style="border-radius: 5px; padding: 5px">
                <div class="container mx-auto text-center">
                    <img src="{{ url_for('static', filename='resources/gbd_logo_small.png') }}"
                         class="img-responsive" alt="Logo">
                </div>
                <div class="container-fluid">
                    <form action="#" method="post" id="args">
                        {% if has_query == True %}
                            <div class="form-group">
                                <label for="query"></label>
                                <input type="text" name="query" class="form-control" value="{{ query }}">
                            </div>
                        {% else %}
                            <div class="form-group">
                                <label for="query"></label>
                                <input type="text" name="query" class="form-control">
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <label for="groups"></label>
                            {% for group in groups %}
                                {% if group[1] == False %}
                                    <div class="container" style="margin-bottom: 10px; margin-top: 0;
                                                    margin-left: 0; margin-right: 0; display: inline">
                                        <input type="checkbox" name="groups" value="{{ group[0] }}"> {{ group[0] }}
                                    </div>
                                {% else %}
                                    <div class="container" style="margin-bottom: 10px; margin-top: 0;
                                                    margin-left: 0; margin-right: 0; display: inline">
                                        <input type="checkbox" name="groups" value="{{ group[0] }}"
                                               checked> {{ group[0] }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <button formaction="{{ url_for('quick_search_results', _external=True) }}"
                                class="gbd-button-fancy" style="vertical-align:middle"><span>Show</span>
                        </button>
                        <button formaction="{{ url_for('get_csv_file', _external=True) }}"
                                class="gbd-button-secondary gbd-small form-group">Export as CSV
                        </button>
                        <button formaction="{{ url_for('get_zip_file', _external=True) }}"
                                class="gbd-button gbd-small form-group">Download as ZIP
                        </button>
                    </form>
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <div class="col" style="padding-left: 5px; padding-right: 5px">
            <div class="bg-dark text-white text-center"
                 style="border-radius: 5px; height: auto;">
                <div style="padding-top: 10px;"><h5>Databases</h5></div>
                <hr>
                <div style="margin: 5px">
                    <form action="#" method="get" id="zip">
                        Default
                        <div>
                            <button formaction="{{ url_for('get_database_file', _external=True) }}"
                                    class="gbd-button gbd-small">Download
                            </button>
                        </div>
                    </form>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
</body>
</html>