<!DOCTYPE html>
<html lang="en">
<head>
    <title>Global Benchmark Database Tool</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="/" class="navbar-left"><img style="max-width:50px" src="{{ url_for('static',
        filename='resources/gbd_logo_small.png') }}"></a>
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    </div>
</nav>
<hr>
<div class="row" style="margin: 0;">
    <div class="row" style="margin: 0">
        <div class="col" style="padding-left: 5px; padding-right: 5px">
            <div class="bg-dark text-white text-center"
                 style="border-radius: 5px; height: 400px">
                <div style="padding-top: 10px;"><h4>Query Patterns</h4></div>
                <hr>
            </div>
        </div>
        <div class="col-8" style="padding: 0">
            <div class="bg-dark text-white" style="border-radius: 5px; padding: 5px">
                <div class="container mx-auto text-center">
                    <img src="{{ url_for('static', filename='resources/gbd_logo_small.png') }}"
                         class="img-responsive" alt="Logo">
                </div>
                <div class="container-fluid">
                    <form action="#" method="post" id="args">
                        {% if has_query == True %}
                            <div class="form-group">
                                <label for="query"></label>
                                <input type="text" name="query" class="form-control" value="{{ query }}">
                            </div>
                        {% else %}
                            <div class="form-group">
                                <label for="query"></label>
                                <input type="text" name="query" class="form-control">
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <label for="groups"></label>
                            {% for group in groups %}
                                {% if group[1] == False %}
                                    <div class="container" style="margin-bottom: 10px; margin-top: 0;
                                                    margin-left: 0; margin-right: 0; display: inline">
                                        <input type="checkbox" name="groups" value="{{ group[0] }}"> {{ group[0] }}
                                    </div>
                                {% else %}
                                    <div class="container" style="margin-bottom: 10px; margin-top: 0;
                                                    margin-left: 0; margin-right: 0; display: inline">
                                        <input type="checkbox" name="groups" value="{{ group[0] }}"
                                               checked> {{ group[0] }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <button formaction="{{ url_for('quick_search_results', _external=True) }}"
                                class="btn btn-primary form-group">Show
                        </button>
                    </form>
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <div class="col" style="padding-left: 5px; padding-right: 5px">
            <div class="bg-dark text-white text-center"
                 style="border-radius: 5px; height: 300px;">
                <div style="padding-top: 10px;"><h4>Databases</h4></div>
                <hr>
                <div style="margin: 5px">
                    <form action="#" method="get" id="zip">
                        Default
                        <div>
                            <button formaction="{{ url_for('get_database_file', _external=True) }}"
                                    class="btn btn-primary btn-sm">Download
                            </button>
                        </div>
                    </form>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
</body>
</html>