<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="/" class="navbar-left"><img style="max-width:50px" src="{{ url_for('static',
        filename='resources/gbd_logo_small.png') }}"></a>
    <a class="navbar-brand" href="/"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="/groups/all">Groups</a>
          <a class="nav-item nav-link" href="/query/form">Search</a>
          <a class="nav-item nav-link active" href="/resolve/form">Resolve <span class="sr-only">(current)</span></a>
        </div>
      </div>
    </nav>
    <hr>
<main>
    <div class="container bg-dark text-white">
        <div class="container mx-auto text-center">
            <img src="{{ url_for('static', filename='resources/gbd_logo_small.png') }}" class="img-responsive"
                 alt="Logo">
        </div>
        <h1>Resolve</h1>
        <div class="container">
        <form action="{{ url_for('resolve', _external=True) }}" method="post" id="args">
            <div class="form-group">
                <label for="hashes">Hash</label>
                <input type="text" name="hashes" class="form-control" id="hashes" placeholder="Enter hash">
                <label for="group">Group</label>
                <input type="text" name="group" class="form-control" id="group" placeholder="Enter group (optional)">
                <p id="g"></p>
            </div>
        <button type="submit" class="btn btn-primary form-group">Search</button>
        </form>
        </div>
    </div>
</main>
</body>
</html>