<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="/" class="navbar-left"><img style="max-width:50px" src="{{ url_for('static',
        filename='resources/gbd_logo_small.png') }}"></a>
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    </div>
</nav>