<!DOCTYPE html>
<html lang="en">
<head>
    {% include "header.html" %}
</head>
<body style="padding:10px">
<!--{% include "navbar.html" %}
<hr>-->
<div class="row" style="margin: 0">
    <div class="col-2" style="padding-left: 5px; padding-right: 5px">
        <div class="bg-dark text-white text-center" style="border-radius: 5px; height: auto">
            <div style="padding-top: 10px;"><h5>Query Examples</h5></div><hr>
            <div style="margin: 5px">
                {% for query_pattern in query_patterns %}
                    <form action="#" method="post">
                        <input type="hidden" name="query" value='{{ query_pattern }}'>
                        <button formaction="{{ url_for('quick_search_results', _external=True) }}" class="gbd-button gbd-small">
                            {{ query_pattern }}
                        </button>
                    </form>
                    <hr>
                {% endfor %}
            </div>
        </div>
        <!-- -->
        <div class="bg-dark text-white text-center" style="border-radius: 5px; height: auto;">
            <div style="padding-top: 10px;"><h5>Databases</h5></div><hr>
            <div style="margin: 5px">
                <form action="#" method="get" id="zip">
                    <button formaction="{{ url_for('get_default_database_file', _external=True) }}" class="gbd-button gbd-small">
                        Download Database
                    </button>
                </form>
            </div>
            <hr>
        </div>
    </div>
    <div class="col-8" style="padding: 0">
        <div class="bg-dark text-white" style="border-radius: 5px; padding: 5px">
            <div class="container mx-auto text-center">
                <img src="{{ url_for('static', filename='resources/gbd_logo_small.png') }}" class="img-responsive" alt="Logo">
            </div>
            <div class="container-fluid">
                <form action="#" method="post" id="args">
                    {% if query is defined and query|length %}
                        <div class="form-group" style="margin-bottom: 0px">
                            <label for="query"></label>
                            <input type="text" name="query" class="form-control" value="{{ query }}">
                        </div>
                    {% else %}
                        <div class="form-group" style="margin-bottom: 0px">
                            <label for="query"></label>
                            <input type="text" name="query" class="form-control">
                        </div>
                    {% endif %}
                    <div class="container row" style="margin: 0px; padding: 0px">
                        <div class="form-group">
                            <label for="groups"></label>
                            <ul class="checkbox-grid">
                                {% for group in groups %}
                                    {% if group in checked_groups %}
                                        <li style="margin-right: 10px; margin-bottom: 3px">
                                            <input type="checkbox" name="groups" value="{{ group }}" checked> {{ group }}
                                        </li>
                                    {% else %}
                                        <li style="margin-right: 10px; margin-bottom: 3px">
                                            <input type="checkbox" name="groups" value="{{ group }}"> {{ group }}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="container row">
                        <button formaction="{{ url_for('quick_search_results', _external=True) }}"
                                class="gbd-button-fancy gbd-show form-group" style="vertical-align:middle">
                            <span>Submit Query</span>
                        </button>
                        <button formaction="{{ url_for('get_csv_file', _external=True) }}"
                                class="gbd-button-fancy gbd-csv form-group" style="vertical-align:middle">
                            <span>Download Attributes</span>
                        </button>
                        <button formaction="{{ url_for('get_url_file', _external=True) }}"
                                class="gbd-button-fancy gbd-zip form-group" style="vertical-align:middle">
                            <span>Download Instances</span>
                        </button>
                    </div>
                </form>
                {% block content %}{% endblock %}
                <div class="container" style="margin: 20px" id="table-spacer">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>