{% extends "quick_search.html" %}

{% block content %}
    {% if results is defined and results|length %}
        <hr>
        <div class="container" style="display: block; max-height: 700px; overflow-y: auto; padding-left: 0;">
            <div style="background: #32383e; margin-left: 0; margin-bottom: 5px;">
                <table class="table table-bordered table-dark table-striped">
                    <thead>
                    <tr>
                        <th scope="col">GBDhash</th>
                        {% for group in checked_groups %}
                            <th scope="col">{{ group }}</th>
                        {% endfor %}
                    </thead>
                    <tbody>
                    {% for entry in results %}
                        <tr>{% for attribute in entry %}
                            <td>{{ attribute }}</td>{% endfor %}</tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}