<!DOCTYPE html>

<html lang="en">
<head>
    <title>GBD Vue.js test page</title>
    {% include "header.html" %}
</head>
<body>
<b-container id="app">
    <b-container>
        <div>
            <b-img center src="{{ url_for('static', filename='resources/gbd_logo_small.png') }}" fluid
                   alt="GBD-Logo"></b-img>
        </div>
    </b-container>
    {% raw %}
    <b-container>
        <div style="margin-top: 10px">
            <b-form @submit="submitQuery">
                <b-form-group id="query">
                    <b-form-input
                            id="query"
                            v-model="form.query"
                            placeholder="Enter query"
                    ></b-form-input>
                </b-form-group>

                <b-form-group id="group-selection">
                    <b-form-checkbox-group v-model="form.checked">
                        <b-form-checkbox-group
                                v-model="form.selected_groups"
                                :options="form.groups"
                                name="attributes"
                        ></b-form-checkbox-group>
                    </b-form-checkbox-group>
                </b-form-group>
                <b-button type="submit" variant="primary">Submit</b-button>
            </b-form>
        </div>
    </b-container>
    <b-container>
        <b-row style="margin-top: 20px">
            <b-col>
                <p class="mt-3">Current Page: {{ table.current_page }}</p>
            </b-col>
            <b-col>
                <b-form-select v-model="table.per_page" :options="table.options"></b-form-select>
            </b-col>
        </b-row>
        <b-row>
            <b-col>
                <b-table
                        id="result-table"
                        :head-variant="table.head_variant"
                        :items="result"
                        :fields="fields"
                        :per-page="table.per_page"
                        :current-page="table.current_page"
                        :busy="table.table_busy"
                        :sort-by.sync="table.sortBy"
                        :sort-desc.sync="table.sortDesc"
                        responsive="sm"
                        sort-icon-left
                        hover
                        show-empty
                        striped
                        small
                >
                    <template v-slot:table-busy>
                        <div class="text-center text-primary my-2">
                            <b-spinner type="grow" variant="primary" class="align-middle"></b-spinner>
                            <strong>Loading...</strong>
                        </div>
                    </template>
                </b-table>
                <b-pagination
                        v-model="table.current_page"
                        :total-rows="rows"
                        :per-page="table.per_page"
                        align="center"
                        aria-controls="result-table"
                ></b-pagination>
            </b-col>
        </b-row>
    </b-container>
    {% endraw %}
</b-container>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}">
</script>
</html>