{% raw %}
<b-form id="gbdForm">
    <b-form-group>
        <b-input-group>
            <b-form-input
                    name="query"
                    v-model="query"
                    placeholder="Enter query"
                    v-on:input="patterns.selected_pattern = undefined"
            ></b-form-input>
            <b-input-group-append>
                <b-dropdown variant="outline-dark">
                    <template v-slot:button-content>
                        Examples
                    </template>
                    <b-dropdown-group style="padding: 5px">
                        <span><b>Query</b></span>
                        <div style="padding: 5px; width: 300px">
                            <b-form-radio-group>
                                <b-form-radio v-for="pattern in patterns.query_patterns"
                                              v-model="patterns.selected_pattern"
                                              v-on:input="selectPattern()"
                                              :value="pattern">
                                    {{ pattern.text }}
                                </b-form-radio>
                            </b-form-radio-group>
                        </div>
                    </b-dropdown-group>
                </b-dropdown>
                <b-button type="submit" @click="submitQuery" variant="outline-dark">
                    <b-icon icon="search"></b-icon>
                </b-button>
            </b-input-group-append>
        </b-input-group>
    </b-form-group>
    <b-form-group id="feature-selection">
        <b-container v-for="entry in databases" fluid style="margin: 0;padding: 0">
            <b-card no-body style="padding: 10px">
                <b-row>
                    <b-col>
                        <b-button-group>
                            <b-button
                                    v-b-toggle="'collapse'+entry[0]"
                                    variant="outline-dark"
                                    v-b-tooltip.hover
                                    title="Show/Hide features">
                                <b-icon icon="arrow-down-up" aria-hidden="true"></b-icon>
                            </b-button>
                            <b-button type="submit" formmethod="get"
                                      :formaction="'/getdatabase/'+entry[0]"
                                      variant="outline-dark"
                                      formtarget="_self"
                                      v-b-tooltip.hover
                                      title="Download this database">
                                <b-icon icon="cloud-download-fill" aria-hidden="true"></b-icon>
                            </b-button>
                        </b-button-group>
                    </b-col>
                    <b-col style="margin: auto; text-align: center">{{ entry[0] }}</b-col>
                    <b-col></b-col>
                    <b-col></b-col>
                </b-row>
                <template v-if="entry[2] == 0">
                    <b-collapse :id="'collapse'+entry[0]" visible>
                        <div style="padding-top: 15px; margin-bottom: 10px">
                            <b-form-checkbox-group
                                    v-model="selected_features"
                                    :options="entry[1]"
                                    name="attributes">
                            </b-form-checkbox-group>
                        </div>
                    </b-collapse>
                </template>
                <template v-else>
                    <b-collapse :id="'collapse'+entry[0]">
                        <div style="padding-top: 15px; margin-bottom: 10px">
                            <b-form-checkbox-group
                                    v-model="selected_features"
                                    :options="entry[1]"
                                    name="attributes">
                            </b-form-checkbox-group>
                        </div>
                    </b-collapse>
                </template>
            </b-card>
        </b-container>
    </b-form-group>
    <b-button-group class="mx-1" style="margin-top: 15px;">
        <b-button type="submit" formmethod="post" formaction="/getinstances" variant="outline-dark"
                  formtarget="_self"
                  v-b-tooltip.hover
                  title="Get URL file">
            <b-icon icon="download" style="margin-right: 5px"></b-icon>
            Download instances
        </b-button>
        <input type="hidden" name="selected_features" v-bind:value="selected_features">
        <b-button type="submit" formmethod="post" formaction="/exportcsv" variant="outline-dark"
                  formtarget="_self"
                  v-b-tooltip.hover
                  title="Get CSV file">
            <b-icon icon="archive" style="margin-right: 5px"></b-icon>
            Download features
        </b-button>
        <b-button type="button" v-b-toggle.sidebar-2 variant="outline-dark">
            <b-icon icon="question" aria-hidden="true"></b-icon>
        </b-button>
    </b-button-group>
    <b-sidebar id="sidebar-2" title="" right shadow>
        <template v-slot:default="{ hide }">
            <div class="px-3 py-2 overflow-auto">
                {% endraw %}
                {% include "help.html" %}
                {% raw %}
            </div>
            <b-button style="display: block; margin: 0 auto;" @click="hide" variant="danger">Ok
            </b-button>
        </template>
    </b-sidebar>
</b-form>
{% endraw %}