body { 
  margin:0px; 
  padding:5px; 
  background:#fff; 
  color:#000;
  font-family:Arial,Helvetica,sans-serif;
}
a:link { color:#137; text-decoration:none; }
a:visited { color:#247; text-decoration:none; }
a:hover { color:#123; }
a.active { color:#123; }

.main {
  width:100%;
  height:100%;
  background:#19e;
  overflow-y:scroll;
}

.navigation {
  padding:10pt;
  line-height: 150%;
  float:left;
}

.content {
  padding:15px;
  min-height:100%;
  margin-left:220px;
  background:#fff;
}

p, h2 {
  width:900px;
}

li {
  width:850px;
}

td.date {
  font-weight:bold;
}


table, th, td {
  border:1px solid gray;
  border-spacing:0px;
}

th, td {
  padding:5px;
}

